<% layout("/layouts/boilerplate.ejs") -%>
<div class="row">
<div class="col-8 offset-2">
 <br>
<h3>Create a new listing</h3>
        <form method="POST" action="/listings/<%=listing._id%>?_method=PUT"
            novalidate enctype="multipart/form-data"
            class="needs-validation">
            <div class = "mb-3">
                <label for="title" class="form-label">Title</label>
                <input
                    name="Listing[title]"
                    
                    value="<%= listing.title %>"
                    type="text"
                    class="form-control"
                    required
                /> 
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a title.
                </div>
            </div>
            <div class = "mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea
                    name="Listing[description]"
                    class="form-control"
                    type="text"
                    required
                ><%= listing.description %></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a description.
                </div>
            </div>
      <% for(let i = 0 ; i<listing.image.length;i++){ %>
            <div class="card col-6 offset-3 show-card listing-card">
                Original Listing Image
                <div class="card-img-top show-img-container">
                    <img src="<%= listing.image[i].url %>" alt="<%= listing.image[i].filename%>" class="card-img-top show-img" />
                </div>
            </div>
         
            <div class = "mb-3">
                <label for="image" class="form-label">Upload New Image</label>
                <input
                    name="Listing[image]"
                  
                    type="file"
                    class="form-control"
                   
                />
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide an image link.
                </div>
            </div>
            <% } %>
            <div class="row">
                <div class = "mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input
                            name="Listing[price]"
                            value="<%= listing.price%>"
                            type="number"
                            class="form-control"
                            required
                            min="0"
                        />
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid price.
                        </div>
                    </div>
                    <div class = "mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input
                            name="Listing[country]"
                            value="<%= listing.country %>"
                            type="text"
                            class="form-control"
                            required
                        />
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a country.
                        </div>
                    </div>
            </div>
         
            <div class = "mb-3">
                <label for="location" class="form-label">Location</label>
                <input
                    name="Listing[location]"
                     value="  <%= listing.location %>"
                    type="text"
                    class="form-control"
                    required
                />
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a location.
                </div>
            </div>

            <button class="btn btn-dark edit-btn mt-3">Update</button>
        </form>
        <br>
        <br>
</div>
</div>